/*------Seletores------*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e8e9ec;
}
/*---------------------*/

/*------ID´s------*/
#cabecalho{
    background-color: #4966b0;
    height: 60px;
    border: 1px solid #4966b0;
    border-bottom: 1px solid #232222
}

#logo{
    width: 281px;
    height: 40px;
    margin: 10px auto;
    margin-left: 30px;
    float: left;
}

#menu{
    float: right;
    padding: 10px 0px;
    margin: 5px 40px;
}

#caixa_1_texto{
    margin: 91.2px auto;
    margin-right: 270px;
    margin-left: 0;
    float: right;
}

#caixa_1_logo{
   height: 240px;
   margin: 30px 0px 30px 270px;
   float: left;
}

#caixa_2_logo{
    height: 240px;
    margin: 70px 0px 0px 270px;;
    float: left;
}

#caixa_2_texto{
    margin: 91.2px auto;
    margin-right: 100px;
    margin-left: 0;
    float: right;
}
/*----------------*/

/*---Classes---*/
.caixa_branca{
    background-color: #ffffff;
    padding: 10px;
    height: 300px;
    text-align: center;
}
    .caixa_branca_h1{
        font-weight: bold;
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        color: #394e84;
    }

    .caixa_branca_h2{
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
    }

.caixa_azul{
    background-color: #4966b0;
    padding: 10px;
    height: 300px;
    text-align: center;
}
    .caixa_azul_h1{
        font-weight: bold;
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
    }

    .caixa_azul_h2{
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-weight: inherit;
    }
/*-------------*/


/*---Menu---*/
a{
    text-decoration: none;
    padding: 5px;
    font-size:20px;
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

a:link{
    color: #d0c3c3;
}

a:visited{
    color: #ece3e3;
}

a:hover{
    color: #ffffff;
}

a:active{
    color: #ffffff
}
/*----------*/




