/*------Seletores------*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e8e9ec;
}
/*---------------------*/

/*------ID´s------*/
#cabecalho{
    background-color: #4966b0;
    height: 60px;
    border: 1px solid #4966b0;
    border-bottom: 1px solid #232222
}

#logo{
    /*width: 281px;*/
    height: 40px;
    margin: 10px auto;
    margin-left: 30px;
    float: left;
}

#menu{
    float: right;
    padding: 10px 0px;
    margin: 5px 40px;
}

#caixa_1_texto{
    border: 1px solid red;
    margin: 69.5px auto;
    /*margin-right: 150px;
    margin-left: 0;*/
    float: right;
    width: 600.25px;
}

#caixa_1_logo{
   border: 1px solid red;
   height: 220px;
   margin: 41px auto;
   /*margin: 50px 0px 50px 150px;*/
   float: left;
}

#caixa_2_logo{
    height: 220px;
    margin: 90px 0px 0px 150px;;
    float: left;
}

#caixa_2_texto{
    margin: 52.5px auto;
    margin-right: 150px;
    margin-left: 0;
    float: right;
    width: 600.25px;
}

#caixa_3_logo{
    height: 220px;
    margin: 50px 0px 50px 200px;;
    float: left; 
}

#caixa_3_texto{
    margin: 91.2px auto;
    width: 600.25px;
}
/*----------------*/

/*---Classes---*/
.caixa_branca{
    background-color: #ffffff;
    padding: 10px;
    height: 300px;
    text-align: center;
}
    .caixa_branca_h1{
        /*font-weight: bold;*/
        /*font-size: 2em;*/
        font-family: Arial, Helvetica, sans-serif;
        color: #394e84;
    }

    .caixa_branca_h2{
        /*font-size: 1.5em;*/
        font-family: Arial, Helvetica, sans-serif;
    }

.caixa_conteudo{
    width: 75%;
    height: 300px;
    margin: 0 auto;
    border: 1px solid red;
}

.caixa_azul{
    background-color: #4966b0;
    padding: 10px;
    height: 300px;
    text-align: center;
}
    .caixa_azul_h1{
        /*font-weight: bold;*/
        /*font-size: 2em;*/
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
    }

    .caixa_azul_h2{
        /*font-size: 1.5em;*/
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-weight: inherit;
    }

.footer{
    background-color: #232222;
    width: 100%;
    height: 30px;
}
/*-------------*/


/*---Menu---*/
a{
    text-decoration: none;
    padding: 5px;
    font-size:20px;
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

a:link{
    color: #d0c3c3;
}

a:visited{
    color: #ece3e3;
}

a:hover{
    color: #ffffff;
}

a:active{
    color: #ffffff
}
/*----------*/




